<h2>Por capital</h2>
<hr>


<div class="row">
    <div class="col">
        <app-pais-input placeholder="Buscar capital..." (onDebounce)="sugerencias($event)" (onEnter)="buscar($event)"></app-pais-input>
    </div>
</div>

<hr>
<div *ngIf="hayError; else tablaResult" class="alert alert-danger">
    No se encontro nada con el termino {{termino}}
</div>

<ng-template #tablaResult>
    <div *ngIf="paises.length>0" class="row">
        <div class="col">
           <app-pais-tabla [paises]="paises"></app-pais-tabla>
        </div>
    </div>
</ng-template>